:root{
    
    --Negro: #000000;
    --AzulGrisaceo: #000000;
    --VerdeMenta: #2EC4B6;
    --GrisClaro: #F5F7FA;
    --GrisOscuro: #ffffff;
    --Blanco: #FFFFFF;
    --GrisClaro: #ffffff;
    --Marron: #65442a;
}



/* ===== HEADER ===== */
.header {
  background: url("madera-header.jpg");
  background-size: cover;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.logo{
    padding: 2%;
    display: inline;
    gap: 12px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family:'Roboto Slab', serif;
}


@media(max-width:768px){
    .logo{
        padding-right: 0;
    }
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

@media (max-width: 768px){

    .nav{
        flex-direction: column;
        gap: 15px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a{
        margin: 8px 0;
    }
}


nav a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    font-weight:600;
}

nav a:hover{
    color: var(--Negro);
    background-color: var(--Marron);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.8);
}

body{
    background-image: url(/img/imagen_madera.png);
    font-family:'Open Sans', sans-serif;
    color:#333;
}

.logo{
    padding: 2%;
    display: inline;
    gap: 12px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family:'Roboto Slab', serif;
}


@media(max-width:768px){
    .logo{
        padding-right: 0;
    }
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

@media (max-width: 768px){

    .nav{
        flex-direction: column;
        gap: 15px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a{
        margin: 8px 0;
    }
}


nav a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    font-weight:600;
}

nav a:hover{
    color: var(--Negro);
    background-color: var(--Marron);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.8);
}

/* ===== HERO CONTACTO ===== */
.hero-contacto {
  font-family:'Roboto Slab', serif;
  background-image: url("/img_contacto/hero_contacto.png");
  font-family:'Roboto Slab', serif;
  background-size: cover;
  background-position: left;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.hero-overlay {
  background: rgba(0,0,0,0.2);
  color: white;
  padding: 30px 40px;
  text-align: center;
  border-radius: 8px;
}

.hero-overlay h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

/* ===== CONTACTO ===== */
.contacto {
  font-family:'Roboto Slab', serif;
  background-color: var(--madera-clara);
  padding: 80px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* Información */
.info-contacto h2,
.form-contacto h2 {
  margin-bottom: 25px;
  color: var(--madera-oscura);
  font-family:'Roboto Slab', serif;
}

.info-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.info-item span {
  font-size: 24px;
  margin-right: 15px;
}

/* Formulario */
.form-contacto form {
  font-family:'Roboto Slab', serif;
  display: flex;
  flex-direction: column;
}

.form-contacto input,
.form-contacto textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-contacto textarea {
  resize: none;
  height: 120px;
}

.form-contacto button {
  background-color: var(--madera-media);
  color: white;
  border: none;
  padding: 14px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.boton1{
  font-family:'Roboto Slab', serif;
    padding: 12px 25px;
    background-color: var(--GrisClaro);
    color: rgb(0, 0, 0);
    border: none;
    font-size: clamp(1rem, 2.5vw, 20px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.8);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    display: inline-block;
}

.boton1:hover {
	background-color: #000000;
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
}

@media (min-width: 480px) {
    .boton1 {
        width: auto;
    }
}

@media (min-width: 768px){
    .boton1{
        padding: 15px 30px;
        font-size: 20px;
    }
}



/* ===== CTA ===== */
.cta {
  font-family:'Roboto Slab', serif;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.boton2{
    padding: 12px 25px;
    background-color: var(--GrisClaro);
    color: rgb(0, 0, 0);
    border: none;
    font-size: clamp(1rem, 2.5vw, 20px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.8);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    display: inline-block;
}

.boton2:hover {
	background-color: #2EC4B6;
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
}

@media (min-width: 480px) {
    .boton2 {
        width: auto;
    }
}

@media (min-width: 768px){
    .boton2{
        padding: 15px 30px;
        font-size: 20px;
    }
}


.cta .btn {
  display: inline-block;
  margin-top: 20px;
  background-color: white;
  color: var(--madera-media);
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

/* ===== FOOTER ===== */
footer{
  font-family:'Roboto Slab', serif;
    background-color: var(--AzulGrisaceo);
    padding: 2rem 0;
    margin-top: 4rem;
    text-align: center;
    color: var(--blanco);
    font-size: 90.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .contacto {
    grid-template-columns: 1fr;
    padding: 50px 25px;
  }

  .hero-overlay h1 {
    font-size: 32px;
  }
}
