

/* ===== COLORES ===== */
:root{
    
    --Negro: #000000;
    --AzulGrisaceo: #000000;
    --VerdeMenta: #2EC4B6;
    --GrisClaro: #F5F7FA;
    --GrisOscuro: #ffffff;
    --Blanco: #FFFFFF;
    --GrisClaro: #ffffff;
    --Marron: #65442a;
}

.servicios
.navegacion-principal
.formulario{

    scroll-snap-align: center;
    scroll-snap-type: y mandatory;

}

body{
    background-image: url(/img/imagen_madera.png);
    font-family:'Open Sans', sans-serif;
    color:#333;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

h1,h2{
    font-family:'Roboto Slab', serif;
}

/* ===== HEADER ===== */
.header {
  background: url("madera-header.jpg");
  background-size: cover;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.logo{
    padding: 2%;
    display: inline;
    gap: 12px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family:'Roboto Slab', serif;
}


@media(max-width:768px){
    .logo{
        padding-right: 0;
    }
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

@media (max-width: 768px){

    .nav{
        flex-direction: column;
        gap: 15px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a{
        margin: 8px 0;
    }
}


nav a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    font-weight:600;
}

nav a:hover{
    color: var(--Negro);
    background-color: var(--Marron);
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.8);
}

/* ===== HERO SERVICIOS ===== */
.hero-servicios {
  background-image: url("/img_servicios/hero_servicios.png");
  background-size: cover;
  background-position: left;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family:'Roboto Slab', serif;
}

.hero-text {
  
  padding: 30px;
  color: white;
  border-radius: 8px;
  text-align: center;
}

.boton1{
    background-color: var(--GrisClaro);
    color: rgb(0, 0, 0);
    border: none;
    font-size: clamp(1rem, 2.5vw, 20px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.8);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boton1:hover {
	background-color: var(--Marron);
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
}

@media (min-width: 480px) {
    .boton1 {
        padding: 15px 30px;
        font-size: 20px;
    }
}

@media (min-width: 768px){
    .boton1{
        padding: 15px 30px;
        font-size: 20px;
    }
}

/* ===== SERVICIOS ===== */
.services-section {
padding: 50px 10%;
text-align: center;
background: var(--Blanco); /* Tono madera clara */
font-family:'Roboto Slab', serif;
}

.section-title {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 40px;
font-size: 1.8rem;
color: #4a2c1a;
}

.section-title::before, .section-title::after {
content: "";
flex: 1;
height: 1px;
background: #ccc;
margin: 0 20px;
max-width: 150px;
}

.services-container {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 20px;
}

.service-card {
background: white;
padding: 30px 20px;
width: 200px;
border-radius: 5px;
box-shadow: 0 4px 15px rgba(0,0,0,0.1);
transition: transform 0.3s;
}

.service-card:hover { transform: translateY(-5px); }

.service-card img {
width: 80px;
margin-bottom: 15px;
}

.service-card h3 { color: #4a2c1a; margin-bottom: 10px; }
.service-card p { font-size: 0.9rem; line-height: 1.4; color: #666; }

/* ===== CTA ===== */
.cta {
  background-color: var(--madera-media);
  color: var(--Blanco);
  text-align: center;
  padding: 50px 20px;
  
}

.boton{
    padding: 12px 25px;
    background-color: var(--GrisClaro);
    color: rgb(0, 0, 0);
    border: none;
    font-size: clamp(1rem, 2.5vw, 20px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.8);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    display: inline-block;
}

.boton:hover {
	background-color: var(--Marron);
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
}

@media (min-width: 480px) {
    .boton {
        width: auto;
    }
}

@media (min-width: 768px){
    .boton{
        padding: 15px 30px;
        font-size: 20px;
    }
}

/* ===== FOOTER ===== */
footer{
    background-color: var(--AzulGrisaceo);
    padding: 2rem 0;
    margin-top: 4rem;
    text-align: center;
    color: var(--Blanco);
    font-size: 90.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    font-family:'Roboto Slab', serif;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .hero-servicios {
    height: 220px;
  }
}
