:root{
    
    --Negro: #000000;
    --VerdeMenta: #2EC4B6;
    --GrisClaro: #F5F7FA;
    --GrisOscuro: #353131;
    --Blanco: #FFFFFF;
    --GrisClaro: #9b9b9b;
    --Marron: #65442a;
    --beige: #F5E6D3;
    --MarronClaro: #f0e6dc;
    --Verde: #1ebe5d;
}

img{
    max-width:100%;
    height:auto;
}


body{
    background-image: url(/img/imagen_madera.png);
    font-family:'Open Sans', sans-serif;
    color:#333;
}

h1,h2{
    font-family:'Roboto Slab', serif;
}

/* HEADER */
.header {
  background-size: cover;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}


.logo{
    padding: 2%;
    display: inline;
    gap: 12px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family:'Roboto Slab', serif;
}


@media(max-width:768px){
    .logo{
        padding-right: 0;
    }
}

/** BARRA DE NAVEGACION; APLICA PARA TODAS LAS PAGINAS**/

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

@media (max-width: 768px){

    .nav{
        flex-direction: column;
        gap: 15px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav a{
        margin: 8px 0;
    }
}


nav a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    font-weight:600;
}

nav a:hover{
    color: var(--Negro);
    background-color: var(--Blanco);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.8);
}
.nav a.activo {
    box-shadow: 0 8px 20px rgba(250, 250, 250, 0.8);
    background-color: var(--Blanco) transparent 100%;
    color: var(--Blanco);
    border-radius: 100%;
}


/** ========================= PAGINA INICIIO =========================**/


/*-------------- HERO -----------*/
.hero{
    background:url('/img/hero.png') center/cover no-repeat;
    height:80vh;
    display:flex;
    text-align: left;
    color:var(--Blanco);
}

.boton1{
    background-color: var(--Marron);
    color: var(--Blanco);
    border: none;
    font-size: clamp(1rem, 2.5vw, 20px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.8);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boton1:hover {
	background-color: var(--Blanco);
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(47, 33, 37, 0.8);
    color: var(--Negro);
}

@media (min-width: 480px) {
    .boton1 {
        padding: 15px 30px;
        font-size: 20px;
    }
}

@media (min-width: 768px){
    .boton1{
        padding: 15px 30px;
        font-size: 20px;
    }
}

@media (max-width: 768px){

    .hero{
        height: auto;
        padding: 60px 0;
        text-align: center;
    }

    .hero h1{
        font-size: 28px;
    }

    .hero-content{
        max-width: 100%;
    }

    .boton1{
        margin: 20px auto;
    }
}


.hero-content{
    max-width:600px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
    font-family: 'Roboto Slab', serif;
}

.hero p{
    margin-bottom:25px;
    font-size:14px;
}
/** ----------- Nuestros Servicios ------------**/

/* SERVICioS */
.servicios{
    color: var(--Marron);
    padding: 45px 0;
    background:var(--Blanco);
    text-align:center;
    font-family:'Roboto Slab', serif;
    border-radius: 10;
}
.section-title::before, .section-title::after {
content: "";
flex: 1;
height: 1px;
background: var(--Marron);
margin: 0 20px;
max-width: 150px;
}

.service-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin-top:40px;
}

@media (max-width: 992px){
    .service-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 576px){
    .service-grid{
        grid-template-columns: 1fr;
    }
}


.card{
    background:white;
    padding: 55px 45px;
    border-radius:8px;
    box-shadow:0 5px 15px rgba(89, 47, 20, 0.8);
}

.card:hover{
    transform: translateY(-5px);
}

/*--------------- TRABAJOS ----------------*/
.trabajos{
    background-size:cover;
    padding:70px 0;
    color:white;
    text-align:center;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
    margin:40px 0;
}

@media (max-width: 992px){
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 576px){
    .gallery{
        grid-template-columns: 1fr;
    }
}


.gallery img{
    width:100%;
    padding: 5px;
    border-radius:5px;
}


/** Boton Ver Galeria **/
.boton2{
    background-color: var(--Marron);
    color: var(--Blanco);
    border: none;
    font-size: clamp(1rem, 2.5vw, 20px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.8);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boton2:hover {
	background-color: var(--Blanco);
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
    color: var(--Negro);
}

@media (min-width: 480px) {
    .boton2 {
         padding: 15px 30px;
        font-size: 20px;
    }
}

@media (min-width: 768px){
    .boton2{
        padding: 15px 30px;
        font-size: 20px;
    }
}






/*--------------- NOSOTROS -----------------*/
.nosotros{
    padding: 2px 0;
    background:#f5f1eb;
    color: var(--Marron);
}

.container{
    width:90%;
    max-width:1200px;
    margin: 2rem auto;
    gap: 1rem;
}

.about-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    padding: 0 20px;
    gap:40px;
    align-items:center;
}

@media (max-width: 768px){
    .about-grid{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-grid img{
        margin-top: 20px;
    }
}


.about-grid img{
    width:100%;
    border-radius:8px;
    }

/*-------------- CONTACTO ---------------*/
.contacto-inicio{
    display: grid;
    background-color: rgba(0, 0, 0, .3);
    background-size:cover;
    padding: 70px 10px;
    color:white;
    text-align:center;
}

.contact-grid{
    background: rgba(0,0,0,0.5);
    padding:  50px;
    color: white;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    
  
}
@media (max-width: 768px){

    .contact-grid{
        flex-direction: column;
        gap: 20px;
    }

}

.boton3{
    padding: 12px 2px;
    background-color: var(--Marron);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.8);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    
}

.boton3:hover {
	background-color: var(--Blanco);
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
    color: var(--Negro);
}



@media (min-width: 480px) {
    .boton3 {
    padding: 15px 30px;
    font-size: 20px;    }
}

@media (min-width: 768px){
    .boton3{
    padding: 15px 30px;
    font-size: 20px;
    }
}


/* ========================= PAGINA SERVICIOS ========================= */

/* ---------- HERO SERVICIOS --------*/
.hero-servicios {
  background-image: url("/img/hero_servicios.png");
  background-size: cover;
  background-position: left;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family:'Roboto Slab', serif;
}

.hero-text {
  
  padding: 30px;
  color: white;
  border-radius: 8px;
  text-align: center;
}

/** ----------- Nuestros Servicios ------------**/
.services-section {
padding: 50px 10%;
text-align: center;
background: var(--Blanco);
font-family:'Roboto Slab', serif;
}

.section-title {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 40px;
font-size: 1.8rem;
color: #4a2c1a;
}

.section-title::before, .section-title::after {
content: "";
flex: 1;
height: 1px;
background: #ccc;
margin: 0 20px;
max-width: 150px;
}

.services-container {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 20px;
}

.service-card {
background: white;
padding: 30px 20px;
width: 200px;
border-radius: 5px;
box-shadow: 0 4px 15px rgba(0,0,0,0.1);
transition: transform 0.3s;
}

.service-card:hover { transform: translateY(-5px); }

.service-card img {
width: 80px;
margin-bottom: 15px;
}

.service-card h3 { color: #4a2c1a; margin-bottom: 10px; }
.service-card p { font-size: 0.9rem; line-height: 1.4; color: #666; }

/* ===== CTA ===== */
.cta-servicio {
  color: var(--Blanco);
  text-align: center;
  padding: 50px 20px;
  
}

/** Boton Contactar por WhatsApp**/
.boton-contac-servicio{
    padding: 12px 25px;
    background-color: var(--Marron);
    color: rgb(0, 0, 0);
    border: none;
    font-size: clamp(1rem, 2.5vw, 20px);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(247, 247, 247, 0.8);
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    max-width: 300px;
    display: inline-block;
}

.boton-contac-servicio:hover {
	background-color: var(--Blanco);
	transform: translateY(-5px);
	box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
}

@media (min-width: 480px) {
    .boton-contac-servicio{
        width: auto;
    }
}

@media (min-width: 768px){
    .boton-contac-servicio{
        padding: 15px 30px;
        font-size: 20px;
    }
}


/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }

  .hero-servicios {
    height: 220px;
  }
}
/** ========================= PAGINA TRABAJOS =========================**/





/** ========================= PAGINA NOSOTROS =========================**/
/* =========================
   HERO NOSOTROS
========================= */

.hero-nosotros {
    height: 40vh;
    background: linear-gradient(rgba(0,0,0,0.4)),
    url("img/") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--Blanco);
    padding: 20px;
}

.hero-nosotros h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin-bottom: 15px;
}

.hero-nosotros p {
    font-size: 1.2rem;
}


/* =========================
   SECCIÓN HISTORIA
========================= */

.nosotros-section {
    background: var(--Blanco);
    padding: 80px 10%;
    
}

.nosotros-container {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.nosotros-texto {
    flex: 1;
}

.nosotros-texto h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--Marron);
}

.nosotros-texto p {
    line-height: 1.7;
    margin-bottom: 15px;
}

.nosotros-imagen {
    flex: 1;
}

.nosotros-imagen img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}


/* =========================
   MISIÓN Y VISIÓN
========================= */

.mision-vision {
    padding: 70px 10%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    background-color: var(--MarronClaro);
    font-family:'Roboto Slab', serif;
}

.card-mv {
    flex: 1;
    background: linear-gradient(to bottom, #6b4423, #4b2f17);
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
    transition: 0.3s;
    
}

.card-mv:hover {
    transform: translateY(-5px);
    
}

.card-mv h3 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

@media (max-width: 768px) {

    .nosotros-container {
        flex-direction: column;
    }

    .mision-vision {
        flex-direction: column;
    }

}


/* =========================
   VALORES
========================= */

.valores {
    padding: 70px 10%;
    text-align: center;
    background: #f5efe6;
    font-family:'Roboto Slab', serif;

}

.valores h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: var(--Marron);
}

.valores-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 25px;
  
}

.valor {
    background-image: url(/img/imagen_madera.png);
    color: white;
    padding: 25px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
    background-color: var(--MarronClaro);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.valor:hover {
    transform: scale(1.05);
}

/** ========================= PAGINA CONTACTO =========================**/


/* ===== HERO CONTACTO ===== */
.hero-contacto {
  font-family:'Roboto Slab', serif;
  background-image: url("/img/hero_contacto.png");
  font-family:'Roboto Slab', serif;
  background-size: cover;
  background-position: left;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.hero-overlay {
  background: rgba(0,0,0,0.2);
  color: white;
  padding: 30px 40px;
  text-align: center;
  border-radius: 8px;
}

.hero-overlay h1 {
  font-size: 42px;
  margin-bottom: 10px;
}



/* ===== Informacion contacto y Formulario ===== */

.contacto {
  background-color: var(--Blanco);
  padding: 80px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/* Información */


.info-contacto{
    font-family:'Roboto Slab', serif;
    background-color: var(--MarronClaro);
    width: min(60rem, 90%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
    
}
.info-contacto h2,
.form-contacto h2 {
  margin-bottom: 25px;
  color: var(--Marron);
  
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family:'Roboto Slab', serif;
}

.info-item span {
  font-size: 24px;
  margin-right: 15px;
}

/* Formulario */
.formulario{
    font-family:'Roboto Slab', serif;
    background-color: var(--MarronClaro);
    width: min(50rem, 90%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem;
}

.formulario fieldset{
    border-color: #2EC4B6;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--Marron);
}

.formulario fieldset {
    border: none;
}
@media (min-width: 768px){
    .contenedor-campos{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto  auto 20rem;
      column-gap: 1rem;
      row-gap: 1rem;
       
    }

    .campo:nth-child(3), 
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
        
    
}

.campo{
    margin-bottom: 1rem;
}

.campo label{
    font-size: 1.6rem;
    margin-bottom: .5rem;
    display: block;
    color: var(--Marron);
}

.input-text{
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: .5rem;
}

.boton{
    display: flex;
    justify-items: center;
    background-color: var(--Marron);
    padding: 1rem 3rem;
    color: var(--Blanco);
    border: none;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-weight: bold;

}

@media (min-width: 768px){
    .boton{
        width: auto;;
    }
}

.boton:hover {
    background-color: var(--Negro);
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(21, 11, 14, 0.8);
}



/* ------ CTA ------- */
.cta {
  font-family:'Roboto Slab', serif;
  color: var(--Blanco);
  text-align: center;
  padding: 50px 20px;
}

/** Boton Contactar por WhatsAppp**/

.boton-whatsapp {
    display: inline-block;
    padding: 15px 25px;
    background-color: var(--Marron); /* Color oficial WhatsApp */
    color: var(--Blanco);
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.boton-whatsapp:hover {
    transform: translateY(-5px);
    background-color: #1ebe5d;
    box-shadow: 0 8px 20px rgba(13, 219, 37, 0.8);
    color: var(--Negro);
}

/* ===== RESPONSIVE ===== */
@media (max-width: 900px) {
  .contacto {
    grid-template-columns: 1fr;
    padding: 50px 25px;
  }

  .hero-overlay h1 {
    font-size: 32px;
  }
}


/* =========================
   FOOTER
========================= */


/* =========================
   RESPONSIVE
========================= */




/*** ===== FOOTER: APLICA PARA TODAS LA PAGINAS ===== */
footer{
    font-family:'Roboto Slab', serif;
    background-color: var(--Negro);
    padding: 2rem 0;
    margin-top: 4rem;
    text-align: center;
    color: var(--Blanco);
    font-size: 90.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

